RewriteEngine On

# Exclude specific files from rewriting
RewriteCond %{REQUEST_URI} !^/index\.php$
RewriteCond %{REQUEST_URI} !^/$

# Redirect all other requests to index.php with the path as a query parameter
RewriteRule ^(.*)$ index.php?path=$1 [L,QSA]

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css "access plus 1 year"
	ExpiresByType application/manifest+json "access plus 1 year"
	ExpiresByType application/json "access plus 1 year"
	ExpiresByType image/vnd.microsoft.icon "access plus 1 year"
	ExpiresByType image/x-icon "access plus 1 year"
</IfModule>

<IfModule mod_headers.c>
    Header set Cache-Control "public, max-age=31536000"
</IfModule>
